body {
    box-sizing: border-box;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } 
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    width: 50%
  }
  
  /* Extra styles for the submit button */
  .submitbtn {
    padding: 14px 20px;
    background-color: #04AA6D;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    display: flex;
    align-items: center;      /* Centers vertically */
    min-height: 100vh;        
    flex-direction: column;
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and submit on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .submitbtn {
       width: 100%;
    }
  }
  
  /* Setting styles for labels */
  label {
    display: block;          
    margin-bottom: 5px;     
    font-weight: bold;       
  }
  
  input[type="time"] {
    width: 20%; 
    padding: 10px; /* Adds space inside the field */
    font-size: 16px; /* Increases font size */
    border: 2px solid #000000; 
    border-radius: 5px; /* Rounds corners */
    background-color: #f8f9fa; 
    color: #212529; /* Dark text color */
}
